<main class="pt-5 pb-5">
  <section class="container">
    <div class="d-sm-none d-md-block">
      <img class="rounded shadow" src="assets/images/img1.png" alt="image" />
    </div>
  </section>
  <section class="container mt-5">
    <h2 class="text-center mb-3">Ответы на часто задаваемые вопросы</h2>
    <div class="mt-3" id="accordion">
      <h3
        class="d-flex flex-row-reverse justify-content-between align-items-center p-3 rounded border-0 bg-primary mb-3"
      >
        <span class="h5 mb-0 text-light"
          >Собираете ли вы подарочные боксы?</span
        >
      </h3>
      <div class="border-0">
        <p class="mb-0">
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой
          вкус, объем и стоимость!
        </p>
      </div>
      <h3
        class="d-flex flex-row-reverse justify-content-between align-items-center p-3 rounded border-0 bg-primary mb-3"
      >
        <span class="h5 mb-0 text-light"
          >Сколько у вас разновидностей чая?</span
        >
      </h3>
      <div class="border-0">
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil
          eveniet obcaecati suscipit repellat dolores!
        </p>
      </div>
      <h3
        class="d-flex flex-row-reverse justify-content-between align-items-center p-3 rounded border-0 bg-primary mb-3"
      >
        <span class="h5 mb-0 text-light"
          >В какой срок осуществляется доставка?</span
        >
      </h3>
      <div class="border-0">
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil
          eveniet obcaecati suscipit repellat dolores!
        </p>
      </div>
      <h3
        class="d-flex flex-row-reverse justify-content-between align-items-center p-3 rounded border-0 bg-primary mb-3"
      >
        <span class="h5 mb-0 text-light">У вас обновляется ассортимент?</span>
      </h3>
      <div class="border-0">
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil
          eveniet obcaecati suscipit repellat dolores!
        </p>
      </div>
      <h3
        class="d-flex flex-row-reverse justify-content-between align-items-center p-3 rounded border-0 bg-primary mb-3"
      >
        <span class="h5 mb-0 text-light">Какого объема у вас пачки чая?</span>
      </h3>
      <div class="border-0">
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil
          eveniet obcaecati suscipit repellat dolores!
        </p>
      </div>
    </div>
  </section>
</main>

<ngb-alert *ngIf="isShowPopup" #popup type="success">
  <p>{{ popupMessage }}</p>
  <button
    class="btn btn-primary"
    [routerLink]="[popupLink]"
    routerLinkActive="router-link-active"
  >
    {{ popupLinkTitle }}
  </button>
</ngb-alert>
