<main class="pt-5 pb-5">
  <section class="container w-50" id="order">
    <h1 class="h-1 text-center" *ngIf="isCoolResponse">Спасибо за заказ!</h1>
    <h2 class="text-center mb-3" *ngIf="!isCoolResponse">Сделать заказ</h2>
    <form class="row g-3" id="form" [formGroup]="form" *ngIf="!isCoolResponse">
      <div class="col-12 col-md-4">
        <label for="name" class="form-label">Имя</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">
          <div class="invalid-feedback" *ngIf="name?.errors?.['required']">
            Поле "Имя" необходимо заполнить!
          </div>
          <div class="invalid-feedback" *ngIf="name?.errors?.['onlyWord']">
            Поле "Имя" должно состоять только из букв (а-я)!
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <label for="surname" class="form-label">Фамилия</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          formControlName="lastName"
        />
        <div
          *ngIf="lastName?.invalid && (lastName?.touched || lastName?.dirty)"
        >
          <div class="invalid-feedback" *ngIf="lastName?.errors?.['required']">
            Поле "Фамилия" необходимо заполнить!
          </div>
          <div class="invalid-feedback" *ngIf="lastName?.errors?.['onlyWord']">
            Поле "Фамилия" должно состоять только из букв (а-я)!
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <label for="phone" class="form-label">Телефон</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
        />
        <div *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">
          <div class="invalid-feedback" *ngIf="phone?.errors?.['required']">
            Поле "Телефон" необходимо заполнить!
          </div>
          <div class="invalid-feedback" *ngIf="phone?.errors?.['phoneNumber']">
            Поле "Телефон" должно иметь вид "99999999999" или "+99999999999"!
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="country" class="form-label">Страна</label>
        <input
          type="text"
          class="form-control"
          id="country"
          formControlName="country"
        />
        <div
          class="invalid-feedback"
          *ngIf="country?.invalid && (country?.touched || country?.dirty) && country?.errors?.['required']"
        >
          Поле "Страна" необходимо заполнить!
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="index" class="form-label">Индекс</label>
        <input
          type="text"
          class="form-control"
          id="index"
          formControlName="zip"
        />
        <div
          class="invalid-feedback"
          *ngIf="zip?.invalid && (zip?.touched || zip?.dirty) && zip?.errors?.['required']"
        >
          Поле "Индекс" необходимо заполнить!
        </div>
      </div>
      <div class="col-12 col-md-8">
        <label for="address" class="form-label">Адрес</label>
        <input
          type="text"
          class="form-control"
          id="address"
          formControlName="address"
        />
        <div *ngIf="address?.invalid && (address?.touched || address?.dirty)">
          <div class="invalid-feedback" *ngIf="address?.errors?.['required']">
            Поле "Телефон" необходимо заполнить!
          </div>
          <div class="invalid-feedback" *ngIf="address?.errors?.['address']">
            Поле "Адрес" имеет недопустимые символы!
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <label for="product" class="form-label">Товар</label>
        <input
          type="text"
          class="form-control"
          id="product"
          formControlName="product"
        />
      </div>
      <div class="col-12">
        <label for="comment" class="form-label">Комментарий к заказу</label>
        <textarea
          class="form-control"
          id="comment"
          rows="3"
          formControlName="comment"
        ></textarea>
      </div>
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary px-4 hvr-grow"
          id="submit"
          (click)="createOrder()"
          [disabled]="form.invalid"
        >
          Отправить
        </button>
        <div class="invalid-feedback" *ngIf="isFailedResponse">
          Произошла ошибка. Попробуйте еще раз.
        </div>
      </div>
    </form>
  </section>
</main>
